/jhotdraw7/build/
/jhotdraw7/dist/
/jhotdraw7/nbproject/private/
target
*.patch
*.class
nb-configuration.xml
*.*~
.idea/

JHotDrawGrp6/jhotdraw-samples/jhotdraw-samples-misc/FeatureTraces
=======
*.ftf

